<html>
  <head>
  </head>
  <body>
    <h1>User Login Page</h1>
    <!-- NOT A RECOMMENDED WAY --!>
    <form action="" method="POST">
      <table style="border: 1em solid;">
        <tr>
          <td>User Name</td>
          <td><input name="username" id="name" type="text"></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input name="password" id="password" type="password"></td>
        </tr>
        <tr>
           <td><input type=submit value="Log Me In"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
